@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  display: flex;
}

#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  font-family: "Pathway Extreme", sans-serif;
}



.main-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  overflow-y: scroll;
}


.navbar {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
}

.form-control {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 2px solid rgb(0 0 0 / 0.1);
  border-radius: 6px;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.form-control:focus {
  border-color: #227fbb;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.status {
  @apply p-2 bg-primary/20  rounded capitalize;
}

.status.pending {
  @apply bg-secondary/20 text-secondary;
}

.status.packed {
  @apply bg-warning/20 text-warning;
}

.status.shipped {
  @apply bg-primary/20 text-primary;
}

.status.delivered {
  @apply bg-success/20 text-success;
}
